td {
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
}
.dataBlock {
    border: 1px solid black;
    padding-bottom: 50px;
    background-color: darkgoldenrod;
    overflow-x: auto;
    width: 100%;
}
input {
    padding: 1px 6px;
}
input[type="number"],
input[type="text"],
button {
    font-size: 20px;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: aquamarine;
}
.ico {
    font-size: 16px;
}
.del {
    color: red;
}
.save {
    color: black;
}
.edit {
    color: brown;
}
